* {
  margin: 0;
  border: 0;
}

body {
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "DINPro", "Helvetica Neue", sans-serif;
  padding: 3rem;
  margin: 0;
  background: #fafafa;
  box-sizing: border-box;
  height: 100vh;
}

.days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 60vh;
  gap: 2rem;
  width: 100%;
  max-width: 1500px; /* set max width to avoid overflowing */
}